.comment-list {
  margin: 32px auto;
  width: 91%;
}
.comment-wrapper {
  margin-bottom: 16px;
  display: grid;
  row-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "comment-info comment-info"
    "comment comment"
    "scores comment-operation";
}
.comment {
  grid-area: comment;

  & > p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--font-family);
    color: var(--neutral-400);
  }
}
.comment-info {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  grid-area: comment-info;

  & > time {
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--neutral-400);
  }
}

.comment-section {
  padding-bottom: 200px;
}
.scores {
  grid-area: scores;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 10px;
  background: var(--neutral-200);

  & > * {
    font-family: var(--font-family);
  }
  & span {
    font-weight: var(--semibold-wght);
    color: var(--primary-default);
    user-select: none;
  }
  & button {
    padding: 14px;
  }
}
.comment-operations {
  grid-area: comment-operation;
  display: flex;
  column-gap: 16px;

  & button {
    color: var(--primary-default);
    font-weight: var(--semibold-wght);
    font-family: var(--font-family);
  }
}
.reply-list {
  margin-left: 16px;
}
