.user-comment-input {
  position: sticky;
  bottom: 32px;
  width: 91%;
  margin-inline: auto;
  /* left: 50%;
  transform: translateX(-50%); */
}

.user-comment-input form {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "textarea textarea" "photo button";
  row-gap: 14px;

  & > div {
    grid-area: photo;
  }
  & textarea {
    grid-area: textarea;
  }
  & button {
    grid-area: button;
  }
}
@media (width >= 1025px) {
  .user-comment-input {
    width: 51.8%;
  }
}
