.delete-wrapper {
  min-height: 100svh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: grid;
  place-items: center;
}
.delete-confirmation {
  width: calc(100% - 2rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-inline: 1rem; */
  z-index: 100;
  display: grid;
  gap: 23px;

  & p#delete-title {
    font-size: 1.21rem;
  }
  & p {
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
  }
}
.actions {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.hidden-dialog {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.visible-dialog {
  visibility: visible;
  opacity: 1;
}
