/* .delete-wrapper {
  min-height: 100svh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: grid;
  place-items: center;
} */
.delete-confirmation {
  width: 91%;
  min-width: 345px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-inline: 1rem; */
  z-index: 100;
  display: grid;
  gap: 23px;

  & p#delete-title {
    color: var(--neutral-900);
    font-size: 1.21rem;
  }
  & p {
    line-height: 1.5;
    font-family: var(--font-family);
  }
  & p:not(#delete-title) {
    color: var(--neutral-400);
  }
}
.actions {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  & button {
    padding-inline: 23px !important;
  }
  & .grey-btn {
    background: var(--neutral-400);
  }
  & .red-btn {
    background: var(--primary-red);
  }
}
.hidden-dialog {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.visible-dialog {
  visibility: visible;
  opacity: 1;
}
@media (width >= 769px) {
  .delete-confirmation {
    width: 27.7%;
  }
}
