body {
  background: var(--neutral-200);
}
strong {
  font-weight: 700;
}
.card {
  padding: 16px;
  border-radius: 8px;
  background: var(--neutral-100);
}
.solid-btn {
  padding: 15px 30px;
  border-radius: 8px;
  background: var(--primary-default);
  color: var(--neutral-100) !important;
  font-size: var(--body-font-size);
  font-weight: var(--bold-wght);
  font-family: var(--font-family);

  &:hover {
    background: var(--default-hover);
  }
}
.mini-btn {
  display: flex;
  align-items: center;

  & svg {
    margin-right: 8px;
  }

  &:hover {
    color: var(--default-hover);

    & svg {
      fill: var(--default-hover);
    }
  }
}
.delete-btn {
  color: var(--primary-red) !important;
  &:hover {
    color: var(--red-hover) !important;

    & svg {
      fill: var(--red-hover) !important;
    }
  }
}
form {
  & textarea {
    padding: 12px 18px;
    border: 1px solid var(--neutral-400);
    border-radius: 8px;
    min-height: 94px;
    color: var(--neutral-400);
    background: var(--neutral-100);
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
  }
}
.hidden-form {
  display: none;
  /* visibility: hidden; */
}
.img-wrapper {
  width: 32px;
  aspect-ratio: 1 / 1;

  & img {
    user-select: none;
    pointer-events: none;
  }
}
.replyingTo {
  font-weight: 500;
  color: var(--primary-default);
}
.username {
  display: flex;
  gap: 8px;
  align-items: center;

  & > a {
    font-size: 1rem;
    font-weight: var(--semibold-wght);
    font-family: var(--font-family);
    color: var(--neutral-900);

    &:hover {
      color: var(--neutral-400);
    }
  }

  & span {
    padding: 2px 6px;
    border-radius: 3px;
    color: var(--neutral-100);
    background: var(--primary-default);
    font-size: 0.8rem;
    font-weight: 500;
    font-family: var(--font-family);
    user-select: none;
  }
}
dialog {
  border: 0;
}
dialog::backdrop {
  background: var(--neutral-900);
  opacity: 0.5;
}
button:hover {
  cursor: pointer;
}
.mini-btn-wrapper {
  display: flex;
  align-items: center;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
@media (width >= 769px) {
  .card {
    padding: 22px;
  }
}
